
*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.page {
	font-family: Arial;
	text-align: left;
	padding: 15px;
	margin-top: 0px;
}

img {
	margin-left: 0px !important;
}

.logo {
	width: auto;
	height: 50px;
}

.logo_container{
	text-align: center;
}

.orgTitle {
	font-size: 1.5em;
}